


body {
	font-size: 12px;
	padding: 0;
	margin: 0;
}

body.ns-dragging {
	cursor: ns-resize;
	user-select: none;

	.CodeMirror-lines{
		cursor: ns-resize;
	}
}

body.ew-dragging {
	cursor: ew-resize;
	user-select: none;
	.CodeMirror-lines {
		cursor:  ew-resize;
	}
}


#app {
	overflow: hidden;
}
#ifr{
   width: 100%;
    height: 100%;
    border: none;
}

@import './layout.scss';
@import './codemirror.scss';